# Database
DATABASE_URL="postgresql://postgres:saqlain123@localhost:5432/ecommerce_db"
# JWT
JWT_SECRET="your-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN="7d"

# Server
PORT=5000
NODE_ENV=development

# Cloudinary (optional - for image uploads)
---CLOUDINARY_CLOUD_NAME=dr9hsxbzg
CLOUDINARY_API_KEY=343827715873819  
CLOUDINARY_API_SECRET=B09AX8_WfqnHZ0LamLWfeNJR1AY
# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:5000

# Cloudinary Setup Info (from dashboard)
# CLOUDINARY_CLOUD_NAME=tumhara_cloud_name
# CLOUDINARY_API_KEY=tumhari_api_key  
# CLOUDINARY_API_SECRET=tumhara_secret

# JazzCash Payment Gateway
JAZZCASH_MERCHANT_ID=your_merchant_id
JAZZCASH_PASSWORD=your_password
JAZZCASH_INTEGRITY_SALT=your_integrity_salt_key
JAZZCASH_GATEWAY_URL=https://sandbox.jazzcash.com.pk/CustomerPortal/transactionmanagement/merchantform/